
body{width: 0 auto;
min-width: 690px;
font-weight: bold;
font-family: 'Ramabhadra', sans-serif;  

margin: 0 auto;
font-size: 1rem;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8ecf7+0,e3f9f9+44,f4f7d2+100 */
background: rgb(232,236,247); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(232,236,247,1) 0%, rgba(227,249,249,1) 44%, rgba(244,247,210,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(232,236,247,1) 0%,rgba(227,249,249,1) 44%,rgba(244,247,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(232,236,247,1) 0%,rgba(227,249,249,1) 44%,rgba(244,247,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecf7', endColorstr='#f4f7d2',GradientType=1 ); /* IE6-9 */

}


.TMI{
    width: 0 auto;
   
    height: 10px;
    background: #49c0f0;
    background: -moz-linear-gradient(left,  #49c0f0 0%, #88dde3 28%, #30f2cb 51%, #6acfe3 67%, #2cafe3 100%);
    background: -webkit-linear-gradient(left,  #49c0f0 0%,#88dde3 28%,#30f2cb 51%,#6acfe3 67%,#2cafe3 100%);
    background: linear-gradient(to right,  #49c0f0 0%,#88dde3 28%,#30f2cb 51%,#6acfe3 67%,#2cafe3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=1 );
}
section{width:0 auto;
text-align: center;

}

.Menu{
    position: fixed;
    top: 0px;
    height: auto;
    width: 100%;
    background: #f6f6f6;
    background: -moz-linear-gradient(45deg,  #f6f6f6 1%, #f7f3f2 25%, #ffffff 100%);
    background: -webkit-linear-gradient(45deg,  #f6f6f6 1%,#f7f3f2 25%,#ffffff 100%);
    background: linear-gradient(45deg,  #f6f6f6 1%,#f7f3f2 25%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=1 );
    min-width: 150px;
    z-index: 5;
    opacity: 0.9;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Abel', sans-serif;
}

.Menu_Box{
margin: 0 auto;
float: left;
margin-right: 15px;
margin-left: 15px;
margin-top:0px;
padding :15px 25px 15px 25px;
width: 60px;
text-shadow:  5px 5px 2px silver;
position:relative;



}
:hover.Menu_Box>a{color:slategray}

.Menu_Box>a{ 
    text-decoration: none;
    color: rosybrown;
    font-size: auto;
}

.home{color:hotpink;
text-shadow:none;
font-size: 20px;
}
/*메뉴바*/        

.PHOTO{
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: #49c0f0;
    background: -moz-linear-gradient(45deg,  #49c0f0 0%, #49edea 49%, #2cafe3 100%);
    background: -webkit-linear-gradient(45deg,  #49c0f0 0%,#49edea 49%,#2cafe3 100%);
    background: linear-gradient(45deg,  #49c0f0 0%,#49edea 49%,#2cafe3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=1 );
    
    box-shadow: inset 10px  5px  10px rgba(255,255,255,10);
    text-shadow: 7px 2px 7px gray;
    text-align: center;
    z-index: 0;
    
}

.shape{
    float: left;
    z-index: 1;
    width:  30%;
    height: auto;
}
.pngfile1{
        z-index:0;
        background-size: 100%;
        height: 30px;
        opacity: 0.5;
    
        
}
.Text_int{
    
    width: 70%;
    color:white;
    z-index:3;
    position: relative;
    min-width: 581px;
 
}

.name{color: pink;}

.button>a{
color:white;
text-decoration: none;
border:solid 2px #fff;
margin: 4px 4px 4px 4xp;
padding: 5px 5px 5px 5px;
cursor: pointer;
}

.button{margin-top:10px;}
:hover.button>a{
    color:lightslategrey;
}

.Text1{
    margin-top: 50px;
    padding-top: 50px;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;}
    /*큰 배경*/

    .MAIN{
        height: 4300px;
    }
    .ABOUT{width: auto;
    }
    .airbk{
        background: rgb(232,236,247); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(232,236,247,1) 0%, rgba(227,249,249,1) 44%, rgba(244,247,210,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(232,236,247,1) 0%,rgba(227,249,249,1) 44%,rgba(244,247,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(232,236,247,1) 0%,rgba(227,249,249,1) 44%,rgba(244,247,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ecf7', endColorstr='#f4f7d2',GradientType=1 ); /* IE6-9 */


    }
    #airplane{
        height:30px;
    }
                
    
    .bar{
        width:0 auto;
        height: 50px; 
        margin-bottom: 2%;               
    }
    #barab{
       background-color: rgb(233, 215, 180);
       opacity: 0.6;
       box-shadow: 2px 2px 2px gray;
    }
    #ab{width: auto;
    height: 7%;
    font-size: 2.5em;
    font-family: 'Ramabhadra', sans-serif;
    }
    #abline{
        margin-top: -3%;
    }
    #po{width: auto;
    height: 7%;
    font-size: 2.5em;
    font-family: 'Ramabhadra', sans-serif;   
    }
    #co{width: auto;
    height: 7%;
    font-size: 2.5em;            
    font-family: 'Ramabhadra', sans-serif;  
    
    }
    #ig{width: auto;
    height: 7%;
    font-size: 2.5em;            
    font-family: 'Ramabhadra', sans-serif;   
    }
    #snsline{
        margin-top: 4%;
    }
    
    #ab_1{
        height: 44%;
    }
    #po_1{
        height: 21%;
    }
    #co_1{
        height: 12.5%;
    }
    #ig_1{
        height: 16.5%;
    }

   
.list{
    color:lightsalmon;
    text-shadow:5px 5px 5px silver;
height: 3%;}

/*about section*/
    
    .ksjabout{
        height: 15%;
        margin-top: 5%;   
    }
    .KSJli{
        width: 100%;
        height: 100%;
        
    }
  
    .KSJli li{
        float:left;
        width: 18%;        
        list-style: none;
        margin :0 7% 0 0;
    }
    .liab{
        width: 80%;
        max-width: 150px;
    }
    .liab:hover{
        transform: scale(1.2, 1.2)
    }
    
     .litext{
         width: 100%;
         height: 18%;
         font-weight: bold;
         color: #50c3dff1;
         font-size: 1.5em;
         margin-top: -7px;
         text-shadow: 2px 2px 1px gray;
         
     }
     .litexth{
         color: #49c0f0;
         width: 100%;
         height: 10%;
         margin-top: -20px;
         font-family: 'Ramabhadra', sans-serif;  
     }


     .KSJmore{
         width: 100%;
         height: 23%; 
         margin-top: 3%;
         max-width: 1291px;
     }
     .KSJmore div{
         float:left; 
     }

     .SJbox{
        margin-top: 5%; 
        width:40%;
        height: 80%;
     }
     #SJphoto{
        min-width: 250px;
        max-width: 320px;
        height: 90%;
        width: 100%;
    }
    #SJphoto:hover{
        transform: scale(1.1, 1.1);
        
    }
     #chart-1{
         width: 100%;  
     }
    .chart{
        width: 60%;
        height: 80%;
        margin-top: 7%;
    }
    .myint{
        float:left;
        width: 100%;
        height: 10%;
        margin-top: -4%;
        font-weight: bold;
        letter-spacing: 1.4px;
    }
    #myint-1{
        width: 80%;
        margin-left: 8%;
    }
    .myint::first-line{
        font-weight: bold;
        color: #e75485;
        font-size: 1.2em;
    }
    
    .LV{
        width: 60%;
        height: 10%;
    }

   
    





/*테이블 값*/
    #tdsize{
    width: 80px;
    height: 30px;
    background-color: #2cafe3;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.8;
    color:white;
    }
    #cdtype{
        font-size: 0.7em;
    }

    .minibox{
        height: 20px;
        width: 20px;
        transition-property:all;
        transition-duration:4s;
        background: #49c0f0;
        background: -moz-linear-gradient(left,  #49c0f0 0%, #88dde3 28%, #30f2cb 51%, #6acfe3 67%, #2cafe3 100%);
        background: -webkit-linear-gradient(left,  #49c0f0 0%,#88dde3 28%,#30f2cb 51%,#6acfe3 67%,#2cafe3 100%);
        background: linear-gradient(to right,  #49c0f0 0%,#88dde3 28%,#30f2cb 51%,#6acfe3 67%,#2cafe3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=1 );
        border-radius: 0 15px 15px 0;
        border: 2px solid rgb(164, 207, 248);   
    }
     input:checked~ table td #min1{
        width: 200px;
    }

input:checked~ table td #min1{
   width: 70%;
}
input:checked~ table td #min2{
    width: 82%;
 }
 input:checked~ table td #min3{
    width: 50%;
 }
 input:checked~ table td #min4{
    width: 57%;
 }
 input:checked~ table td #min5{
    width: 45%;
 }
 input:checked~ table td #min6{
    width: 85%;
 }
 .checkbox{
     width: 3%;
 }


 .whatdo{
    width: 100%;
    height: 22%;
    margin-top: 7%; 
   
}
h1{
    font-size: 5em;
    color: #2cafe3;
     
}


.ksjskill{
    height: 5%;
    margin-top: -5%;
}
.KSJli2{
    width: 100%;
    height: 100%; 
}
.KSJli2 li{
    float:left;
    width: 15%;        
    list-style: none;
    margin :0 10% 0 0;
}
#lisk{
    width: 100%;
    max-width: 200px;
}

#lisk:hover{
    transform: scale(1.2, 1.2)
}
 .litext2{
     width: 100%;
     height: 18%;
     font-weight: bold;
     color: cornflowerblue;
     font-size: 1.5em;
     margin-top: -7px;
     font-family: 'Ramabhadra', sans-serif;  
 }



/*portfolio section*/ 
 .ksjphoto{
    height: 40%;
    margin-top: 10%;
}
.KSJli3{
    width: 100%;
    height: 100%;
    
}

.KSJli3 li{
    float:left;
    width: 27%;
    height: 100%;       
    list-style: none;
    margin :0 6% 0 0;
}
#lipo{
    width: 100%;
    height: 100%;
    max-width:370px;
    max-height: 450px;
    min-height: 295.59px;
    border-radius: 15px 15px 15px 15px;
    border:  2px solid rgb(0, 0, 0);
} 

#lipo:hover{
    transform: scale(1.2, 1.2)
}
 .litext2{
     width: 100%;
     height: 18%;
     font-weight: bold;
     color: rgb(59, 59, 71);
     font-size: 1.5em;
     font-family: 'Ramabhadra', sans-serif;  
 }
 

 /*instargram section*/
#instarp{
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
}






/*contact section*/

        .contact_t{
        
         width: 35%;
         margin-left: 32.5%;
        
         height: 0 auto;

         
     }
    input{
        width: 100%;
        font-size: 1.1em;
        font-weight: bold;
        border-radius: 15px 15px 15px 15px;
    }
    textarea{
        width: 100%;
        height: 210px;
        overflow: hidden;
        font-size: 1.1em;
        font-weight: bold;
        border-radius: 15px 15px 15px 15px;
        
    }

    .submit{
        width: 20%;
        font-size: 1.5em;
    }
    :hover.submit{
        background-color: cornflowerblue;
    }
   
    
    #cotext{
        z-index: 2;
        position: relative;
        
    }

    
    .Sea{
        height: 240px;
        z-index:0;
        margin-top: -10%;        
    }
    
   
    #sea_png{
        height: 100%;
        width:100%;
       opacity: 0.8;
  
    } 
    .cobk{
        background-color:#93d5f1;
        opacity: 0.8;
        height:96%;
    }

    .copy{
        height: 6%;
        width: 100%;
        }
    .copy-s{
        height: 100%;
        padding-top: 20px;
        background-color:beige;
    }
    #coco{
        width: 25px;
        height: 25px;
        position: absolute;
        
      }
      
        